{% extends 'base.html.twig' %}

{% block title %}Guinot-immobilier{% endblock %}

{% block body %}

  {{ include('_header_footers/header-home.index.html.twig') }}

<div class="container">

 {{ include('all/br.html.twig') }}

</div>

{% endblock %}
