{% extends 'base.html.twig' %}

{% block title %}Guinot-immobilier{% endblock %}

{% block body %}

/ Accueil
    <div class = "jumbotron">
        <br> GUINOT IMMOBILIER:</br>
        <br> ACCESS LOCATION & VENTE D'APPARTEMENTS</br>
    </div>

<div class="container">

    <div class="jumbotron">
                    {{ form_row(form) }} <
    </div>

</div>

{% endblock %}
