<form method="post" action="{{ path('loca.delete', {'id': location.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce bien?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ location.id) }}">
    <button class="btn btn-outline-danger">Supprimer</button>
</form>
