

<form method="post" action="{{ path('immo_delete', {'id': immobilier.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce Bien?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ immobilier.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
