    <div class = "jumbotron">
        <h2> Guinot-Immobilier</h2>
        <br>
        <br> Access Location & Vente d'e biens Immobiliers</br>
        <p>4-26 Boulevard Chastenet de géry, </p>
        <p>94814 Villejuif cedex</p>

        <h3 style="text-align:center"> ADMINISTRATOR / Index </h3>
    </div>
