{% extends 'base.html.twig' %}

{% block title %}Guinot-immobilier{% endblock %}

{% block body %}

/ Accueil
    <div class = "jumbotron">
        <br> GUINOT IMMOBILIER:</br>
        <br> ACCESS LOCATION & VENTE D'APPARTEMENTS</br>
    </div>

<div class="container">

    <div class="jumbotron">
  <h1 class="display-3">PAGE EN CONSTRUCTION</h1>
  <p class="lead">TMais comment prévenir vos visiteurs que votre site n’est pas en ligne pour le moment ? Dans ce guide, nous vous donnerons quelques astuces simples pour rédiger le texte de votre page « En construction », nous vous expliquerons quelles informations doivent y figurer et nous vous présenterons quelques exemples parmi nos préférés. En bonus, nous vous indiquerons précisément comment mettre votre site en mode « En construction »..</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Lire</a>
  </p>
</div>

</div>

{% endblock %}
