    <div class = "jumbotron" style="padding:10px">
        <div class="row">
            <div class="col-sm-6">
                <div class="card" style="text-align:center">
                    <div class="card-body">
                        <h1> Guinot-Immobilier</h1>
                            Access Location & Vente de biens Immobiliers
                        </br>24-26 Boulevard Chastenet de géry, 
                           </br> 94814 Villejuif cedex //  
                        <br>
                        <br>
                        <br>
                        <h4 style="text-align:center"> Administrator Plateform </h4>

                        <br>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card" style="text-align:center">
                    <div class="card-body">
              
                                <h2> Admin Access</h2>
                                        Bonjour</br>
                                        Votre Login est: 
                                                {% if app.user %}
                                                    <h4> {{ app.user.username }},</h4>
                                                {% endif %}

                                        <h4>
                                                <a href="{{ path('app_logout') }}">Cliquez ici pour la deconnexion </a> 
                                            </h4>

                        <br>
                        <br>
                    </div>
                </div>
            </div>    
        <div class="col-sm-3">
                <div class="card" style="text-align:center">
                    <div class="card-body">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
        </div>
    </div>
</div>

