    <div class = "jumbotron">
        <h3> Guinot-Immobilier</h3>
       Access Location & Vente d'e biens Immobiliers
        <p>4-26 Boulevard Chastenet de géry, </p>
        94814 Villejuif cedex //
        <h3 style="text-align:center"> Administrator / Index </h3>
    </div>
