    <div class = "jumbotron" style="padding:10px">
        <div class="row">
            <div class="col-sm-6">
                <div class="card" style="text-align:center">
                    <div class="card-body">
                        <h1> Guinot-Immobilier</h1>
                            Access Location & Vente de biens Immobiliers
                        </br>24-26 Boulevard Chastenet de géry, 
                           </br> 94814 Villejuif cedex //  
                        <br>
                        <br>
                        <br>
                        <h3 style="text-align:center"> Locations & Ventes de Biens Immobiliers ! </h3>

                        <br>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card" style="text-align:center">
                    <div class="card-body">
                        <h1> Guinot-Immobilier</h1>
                            Access Location & Vente d'e biens Immobiliers
                        <p>24-26 Boulevard Chastenet de géry, </p>
                            94814 Villejuif cedex //  
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
            </div>    
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                             {{ include('home/_filtre.html.twig') }}
                </div>
            </div>
        </div>
    </div>
</div>

