    <div class = "jumbotron">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                   <h2> Guinot-Immobilier</h2>
       Access Location & Vente d'e biens Immobiliers
        <p>4-26 Boulevard Chastenet de géry, </p>
        94814 Villejuif cedex //  
        <br>
        <br>
        <h3 style="text-align:center"> Location de Biens / Index </h4>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                            {{ form_row(form) }}
                </div>
            </div>
        </div>
    </div>
</div>

