<<<<<<< HEAD
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

<footer id="footer" class="top-space">
		<div class="footer1 text-white-50">
			<div class="container">
				<div class="row">
					<div class="col-md-3 widget">
						<h3 class="widget-title">Contact</h3>
						<div class="widget-body">
							<p>+33 01 46 78 01 00<br>
								<a href="mailto:#">info@guinot.asso.org</a><br>
								<br>
								24-26 Boulevard Chastenet de géry,94814 Villejuif cedex
							</p>	
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title">Nous suivre</h3>
						<div class="widget-body">
							<p class="follow-me-icons">
								<a href=""><i class="fa fa-twitter fa-2"></i></a>
								<a href=""><i class="fa fa-github fa-2"></i></a>
								<a href=""><i class="fa fa-facebook fa-2"></i></a>
							</p>	
						</div>
					</div>

					<div class="col-md-6 widget">
						<h3 class="widget-title">A propos de Guinot - Immobilier </h3>
						<div class="widget-body">
							<p align="justify"> Soutenez le parcours de formation et d’insertion des personnes déficientes visuelles !</p>
							<p align="justify">Le Centre de Rééducation Professionnelle Paul et Liliane Guinot  mène depuis 1920, une action d’insertion sociale et professionnelle auprès des personnes déficientes visuelles. </p>
							<p align="justify"> Chaque année, une centaine d’étudiants et de stagiaires sont formés aux métiers de Masseur-Kinésithérapeute, de Développeur Web-Web Mobile et de Conseiller Relation Clientèle à Distance.</p>
                            </div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row">
					
					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a href="#">Accueil</a> | 
								<a href="about.html">Qui sommes-nous </a> |
								<a href="sidebar-right.html">Sidebar</a> |
								<a href="contact.html">Contact</a> |
								<b><a href="signup.html">Sign up</a></b>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright &copy; 2020, @Anawin. Designed by <a href="mailto:ipalakot@gmail.com" >Georges Igor PALAKOT</a> 
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>
    </footer>
=======
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

<footer id="footer" class="top-space">
		<div class="footer1">
			<div class="container">
				<div class="row">
					<div class="col-md-3 widget">
						<h3 class="widget-title">Contact</h3>
						<div class="widget-body">
							<p>+33 06 51 55 87 57<br>
								<a href="mailto:#">info@anawin-mbomou.org</a><br>
								<br>
								234 Hidden Pond Road, Ashland City, TN 37015
							</p>	
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title">Nous suivre</h3>
						<div class="widget-body">
							<p class="follow-me-icons">
								<a href=""><i class="fa fa-twitter fa-2"></i></a>
								<a href=""><i class="fa fa-dribbble fa-2"></i></a>
								<a href=""><i class="fa fa-github fa-2"></i></a>
								<a href=""><i class="fa fa-facebook fa-2"></i></a>
							</p>	
						</div>
					</div>

					<div class="col-md-6 widget">
						<h3 class="widget-title">A propos de Guinot - Immobilier </h3>
						<div class="widget-body">
							<p>Nous sommes une organisation qui travaille depuis 2011, avec l'objectif de générer des espaces pour instruire les enfants, les adolescents et les adultes en situation de vulnérabilité</p>
							<p>Être une organisation qui facilite les outils pour le développement de projets de vie dans la communauté où ils opèrent Mission.</p>
                            <p>Favoriser le développement et la croissance de la personne, en lui accordant les outils nécessaires pour atteindre le but de sa vie</p>
                            </div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row">
					
					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a href="#">Accueil</a> | 
								<a href="about.html">Qui sommes-nous </a> |
								<a href="sidebar-right.html">Sidebar</a> |
								<a href="contact.html">Contact</a> |
								<b><a href="signup.html">Sign up</a></b>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright &copy; 2020, @Anawin. Designed by <a href="mailto:ipalakot@gmail.com" >Georges Igor PALAKOT</a> 
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>
    </footer>
>>>>>>> 9fc5225ea4884899240b21c07659d2c545f8798d
</nav>